---
layout: default
title: Projects
exclude_from_nav: true
<!-- navigation_weight: 2 -->
---

<div class="mb-10">
    
    <h1 class="text-3xl font-bold mb-5">{{ page.title }}</h1>
    <p>{{ page.intro }}</p>
              </div>
            <div class="lg:mb-18">
              
             <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
                {% for post in site.categories.project %}
              
                  <div class="pb-8">
                    <div class="{{ post.bg-classes}}">
                        <a href="{{ post.url | prepend: site.baseurl }}" class="no-underline hover:underline">
                            <img src="{{ post.previewImage }}" class="img-responsive {{ post.previewImageWidth }}" />
                          </a>
                    </div>
                    <div>
                        <span class="post-meta text-gray-700 text-sm">{{post.tags | join: ' '}}</span>
                        <h3 class="text-lg lg:text-xl recent-post-header mt-2">
                            {% if post.external %}
                            <a href="{{ post.external }}" class="no-underline hover:underline" target="_blank">{{ post.title }}</a>
                            {% else %}
                            <a href="{{ post.url | prepend: site.baseurl }}" class="no-underline hover:underline">{{ post.title }}</a>
                            {% endif %}
                          </h3>
                          
                    </div>
                  </div>
                
                
              {% endfor %}
            </div>
          </div>
   
    
   
