---
layout: home
title: Selected Work
<!-- exclude_from_nav: true -->
navigation_weight: 1
---


    <div>
      <div class="container md:container mx-auto px-4">
          <h2 class="font-bold uppercase">// Projects</h2>
    <div class="flex flex-col lg:flex-row lg:mb-24">
              
             <div class="work pt-8 flex flex-col md:flex-row lg:flex-wrap">
                {% for post in site.categories.casestudy %}
                <div class="lg:flex-none lg:w-1/2">
                  <div class="mb-8 px-4 lg:px-8 pb-8">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="no-underline hover:underline" target="_blank">
                      <img src="{{ post.previewImage }}" class="img-responsive {{ post.previewImageWidth }}" />
                    </a>
                    <h3 class="recent-post-header mb-0 mt-0">
                          {% if post.external %}
                          <a href="{{ post.external }}" class="no-underline hover:underline" target="_blank">{{ post.title }}</a>
                          {% else %}
                          <a href="{{ post.url | prepend: site.baseurl }}" class="no-underline hover:underline">{{ post.title }}</a>
                          {% endif %}
                        </h3>
                        <span class="post-meta text-grey-dark text-sm">{{post.tags | join: ' '}}</span>
                  </div>
                </div>
                
              {% endfor %}
            </div>
          </div>
        </div>
        </div><!-- end wrapper -->
        <div class="bg-grey-lightest lg:bg-white">
            <div class="container md:container mx-auto px-4">
                
   <div class="flex flex-col lg:flex-row lg:mb-24">
                
            <div class="projects pt-8 flex flex-col md:flex-row lg:flex-wrap">
                <h2 class="font-bold uppercase">// Writing</h2>
              {% for post in site.categories.project %}
                     <div class="lg:flex-none lg:w-1/3">
                        <div class="lg:mb-8 px-4 lg:px-8 pb-8">
                          
                          
                          <h4 class="recent-post-header mb-0 pt-4">
                            {% if post.external %}
                            <a href="{{ post.external }}" class="no-underline hover:underline" target="_blank">{{ post.title }}</a>
                            {% else %}
                            <a href="{{ post.url | prepend: site.baseurl }}" class="no-underline hover:underline">{{ post.title }}</a>
                            {% endif %}
                          </h4>
                          <span class="post-meta text-grey-dark text-sm">{{post.tags | join: ' '}}</span>
                        </div>
                      </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div><!-- end wrapper --> 
        <div>
            <div class="container md:container mx-auto px-4">
                <h2 class="font-bold uppercase">// About me</h2>
          <div class="flex flex-col lg:flex-row lg:mb-24">
                    
                   <div class="pt-4 lg:px-8 flex flex-col md:flex-row lg:flex-wrap">
                      
                      
                        <div class="lg:w-1/2"><h3 class="mt-0">I am...</h3>
                                          
                                            <p><strong class="text-green">A learner.</strong> I’m always looking for ways to improve. I listen to people, ask questions, and respond in a thoughtful manner.</p>
                                            <p><strong class="text-green">Adaptable.</strong> I’m not threatened by change and use my strength as a learner to anticipate changes and evolve.</p>
                                            <p><strong class="text-green">Responsible.</strong> I'm committed to my core values and desire to do what is right and ethical.</p>
                                            
                    
                      
                  </div>
                </div>
              </div>
              </div><!-- end wrapper -->        
      
            
        


              
    

       

    <!-- </div> -->
 <!--  </div> -->