<header class="site-header mb-20 text-center border-solid border-b-2 border-grey-lighter">

  
           
            
          
           <div class="intro pt-20">
          <a href="/" class="no-underline">
          <h1 class="text-3xl font-sans-black">Josh Nelson</h1>
          <p class="text-xl text-grey-darker mb-16 mt-0"><span class="">UX and Interaction Design</span></p>
          </a>

          
         {% include nav.html %}  
          
       
          
          
        </div> 
            

</header>
 
        
