<header class="site-header pt-20">

<div class="container md:container mx-auto px-4">
<h1>I'm Josh Nelson</h1>
<div class="flex flex-col lg:flex-row mb-20">
  <div class="lg:w-2/3">
    
    <p class="text-2xl">I design apps & websites. My personal projects focus on principles, techniques, and concepts from the domains of...</p>
 
      <div class="flex items-center mb-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="icon-bolt flex-no-shrink w-6 mr-2">
        <path class="primary fill-current text-green" d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z" />
      </svg><p class="mb-0 pt-1">UX & Interaction Design</p></div>
      <div class="flex items-center mb-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="icon-bolt flex-no-shrink w-6 mr-2">
        <path class="primary fill-current text-green" d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
        <path class="primary fill-current text-green" fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
      </svg><p class="mb-0 pt-1">Visual Communication Design</p></div>
      <div class="flex items-center mb-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="icon-bolt flex-no-shrink w-6 mr-2">
        <path class="primary fill-current text-green" fill-rule="evenodd" d="M7 2a1 1 0 00-.707 1.707L7 4.414v3.758a1 1 0 01-.293.707l-4 4C.817 14.769 2.156 18 4.828 18h10.343c2.673 0 4.012-3.231 2.122-5.121l-4-4A1 1 0 0113 8.172V4.414l.707-.707A1 1 0 0013 2H7zm2 6.172V4h2v4.172a3 3 0 00.879 2.12l1.027 1.028a4 4 0 00-2.171.102l-.47.156a4 4 0 01-2.53 0l-.563-.187a1.993 1.993 0 00-.114-.035l1.063-1.063A3 3 0 009 8.172z" clip-rule="evenodd" />
      </svg><p class="mb-0 pt-1">Jobs-to-Done Theory</p></div>

      

  </div>
</div>

</div> 
           
            
          
          
            

</header>
 