<header class="site-header pt-5 lg:pt-20">

       
        
        <div class="grid md:grid-cols-2">
                <div>
                        <h1 class="font-bold text-3xl lg:text-4xl mb-4"><a href="/">jmarknel</a></h1>
                        <p>UX/UI, Interaction, & Product Design</p>
                </div>
                 
                <div class="flex md:justify-end space-x-10 font-bold">
                        <a href="/">Home</a><a href="/projects">Projects</a><a href="/toolbox">Techniques, tips, & tricks</a>
                </div>
        </div>
            
        
                  
                    
        
        </header>
         
    
    
        