<header class="site-header pt-20">

<div class="container md:container mx-auto px-4">
<h1>Hi, I'm Josh Nelson</h1>
<div class="flex flex-col lg:flex-row mb-20">
  <div class="lg:w-2/3">
    
    <p class="text-2xl">I do the following...</p>
    <!-- <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-bolt w-8"><circle cx="12" cy="12" r="10" class="primary fill-current"/><path class="secondary fill-current text-green" d="M14 10h2a1 1 0 0 1 .81 1.58l-5 7A1 1 0 0 1 10 18v-4H8a1 1 0 0 1-.81-1.58l5-7A1 1 0 0 1 14 6v4z"/></svg><span class="align-middle"> 4 layers of design: Outcome, Structure, Interaction, Visual</span>
      </div> -->
    
      <div class="flex items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-bolt flex-no-shrink w-8 mr-1"><circle cx="12" cy="12" r="10" class="primary fill-current text-grey-lighter"/><path class="secondary fill-current text-green" d="M14 10h2a1 1 0 0 1 .81 1.58l-5 7A1 1 0 0 1 10 18v-4H8a1 1 0 0 1-.81-1.58l5-7A1 1 0 0 1 14 6v4z"/></svg><p class="mb-0">UX & Interaction Design</p></div>
      <div class="flex items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-bolt flex-no-shrink w-8 mr-1"><circle cx="12" cy="12" r="10" class="primary fill-current text-grey-lighter"/><path class="secondary fill-current text-green" d="M14 10h2a1 1 0 0 1 .81 1.58l-5 7A1 1 0 0 1 10 18v-4H8a1 1 0 0 1-.81-1.58l5-7A1 1 0 0 1 14 6v4z"/></svg><p class="mb-0">Visual design</p></div>
      <div class="flex items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-bolt flex-no-shrink w-8 mr-1"><circle cx="12" cy="12" r="10" class="primary fill-current text-grey-lighter"/><path class="secondary fill-current text-green" d="M14 10h2a1 1 0 0 1 .81 1.58l-5 7A1 1 0 0 1 10 18v-4H8a1 1 0 0 1-.81-1.58l5-7A1 1 0 0 1 14 6v4z"/></svg><p class="mb-0">Write HTML, CSS and a 'lil bit of JavaScript</p></div>
    
    
  </div>
</div>

</div> 
           
            
          
          
            

</header>
 