<!-- <header class="site-header">

  <div class="container">
    <div class="row">
     
        
          <div class="text-center"> -->
           
              <a href="{{ site.baseurl }}/" class="logo">
                <span class="site-title margin-right-10">{{ site.title }}</span><br/><span>{{ site.description }}</span>
              </a> 
            
      
          
           <nav class="site-nav">
            {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
            {% for p in navigation_pages %}
            {% if p.navigation_weight %}

          
              <a href="{{ p.url }}" {% if p.url == page.url %} class="active" {% endif %}>{{ p.title }}</a>
             {% endif %}
             {% endfor %} 
            </nav> 

            <p><a href="mailto:hello@joshmarknelson.com">Get in touch <img src="{{ site.baseurl }}/assets/Envelope.png" alt="" width="24"></a></p>
            <hr>
          <!-- </div> -->
          
        
      
    <!-- </div>
  </div>

</header> -->
