<nav class="site-nav mb-2 text-lg">
            {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
            {% for p in navigation_pages %}
            {% if p.navigation_weight %}

          
              <a href="{{ p.url }}" {% if p.url == page.url %} class="mr-4 active text-grey no-underline hover:underline" {% endif %} class="mr-4 no-underline hover:underline">{{ p.title }}</a>
             {% endif %}
             {% endfor %} 
            
            </nav> 

