@font-face {
  font-family: 'urw-regular';
  src: url('../fonts/urw/Regular/URWDIN-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/urw/Regular/URWDIN-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/urw/Regular/URWDIN-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/urw/Regular/URWDIN-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/urw/Regular/URWDIN-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'urw-thin';
  src: url('../fonts/urw/Thin/URWDIN-Thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/urw/Thin/URWDIN-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/urw/Thin/URWDIN-Thin.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/urw/Thin/URWDIN-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/urw/Thin/URWDIN-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'urw-italic';
  src: url('../fonts/urw/Italic/URWDIN-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/urw/Italic/URWDIN-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/urw/Italic/URWDIN-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/urw/Italic/URWDIN-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/urw/Italic/URWDIN-Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'urw-black';
  src: url('../fonts/urw/Black/URWDIN-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/urw/Black/URWDIN-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/urw/Black/URWDIN-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/urw/Black/URWDIN-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/urw/Black/URWDIN-Black.svg#svgFontName') format('svg'); /* Legacy iOS */
}

p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

a:visited {
  color: inherit;
}

/* Line Graph Animation */
svg {
  color: #5bf;
}

.points {
    opacity: 0;
    transition: 1s cubic-bezier(.3, 0, 0, 1.3);
  }
  .points.visible {
    opacity: 1;
  }
