/* base overrides */
/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: $cabin;
}

ul {
	margin-bottom: 2em;
}

.site-nav {
	border: none;
}

.site-nav {
    

    @include media-query($on-palm) {
        position: relative;
        top: 0;
        right: 0;
        border-radius: 5px;    
        }

        .page-link {
            display: inline;
            padding: 5px;

            &:not(:first-child) {
            margin-left: 0px;
        	}
        }

       
}

.intro {
	text-align: center;
	margin-bottom: 1em;
	color: #111;
}

.brief-bio {
	overflow: hidden;
	margin-bottom: 1em;
	img {
		float: left;
	}
	p {
		padding-left: 69px;

	}
}

.cpr {
	text-align: center;
	color: #e1e1e1;
	font-size: .75em;
}

/* layout overrides */

.post-header {
	text-align: center;
}

.page-heading {
    font-family: $cabin;
}

.post-list {
	h2, h3 {
		font-weight: 700; 
	}
}

/* My styles */
.site-title {
	font-family: $cabin;
	font-weight: 700;
	
}
.section-heading {
	font-weight: 700;
	font-size: 1em;

	a {
		color: #111;
	}
}

.references {
	
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
	
}

/* Questions block */
.block {
	font-family: "Cabin", sans-serif;
	background: rgba(1, 1, 0, 0.07);
	font-style: italic;
	padding: 10px 15px;
	color: rgb(100, 59, 2);
	margin-bottom: 2em;
}

.context-sig {
	display: block;
	color: #a1a1a1;
	font-size: 14px;
	margin-bottom: 1em;
}

figure {
	margin-bottom: 2em;
}

figcaption {
	font-size: 12px;
	font-style: italic;
	color: #A3A2A2;
	text-align: right;
	margin: 1em 0;
}