/* base overrides */
/**
 * Headings
 */
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	font-family: $urw-thin;
}

h1 {
	font-size: 64px;
}

h2 {
	margin-top: 40px;
	font-size: 36px;
}

h3 {
	margin-top: 30px;
	font-size: 24px;
}

h4, .h4 {
	font-size: 18px;
}

hr {
	margin: $spacing-unit 0;
	border-top: 1px solid $grey-color-light;
}

ul {
	margin-bottom: 2em;
}

.strike {
	text-decoration: line-through;
}

.border-soft {
	border: 1px solid #eee;
	border-radius: 3px;
}

.logo {
	
	display: block;
	color: $text-color;
}

.logo:visited {
	color: $text-color;
}

.logo:hover {
	text-decoration: none;
}

.site-nav {
	padding-bottom: 4px;
	// border-bottom: 1px solid $grey-color-light;
}

ul.no-bull li {
	list-style: none;
}

.site-nav {
    

    @include media-query($on-palm) {
        position: relative;
        top: 0;
        right: 0;
        border-radius: 5px;    
        }

        .page-link,
        a {
            display: inline;
            padding-top: 6px;
            margin-right: 14px;
			color: $text-color;
			font-size: 16px;

            &:not(:first-child) {
            margin-left: 0px;
        	}
        }

        .page-link.active,
        a.active {
        	
        	color: $grey-color;
            

            }

            .page-link:hover,
        a:hover {
        	color: $grey-color;
            text-decoration: none;
            
            }

       
}

.intro {
	margin-bottom: 2em;
}

.brief-bio {
	overflow: hidden;
	margin-bottom: 1em;
	img {
		float: left;
	}
	p {
		padding-left: 69px;

	}
}

.cpr {

	text-align: center;
	color: $grey-color;
	font-size: .75em;
}

/* layout overrides */

.post-header {
	text-align: center;
}

.page-content {
	padding-top: 60px;
	padding-bottom: 60px;
}

/* My styles */

.section-heading {
	font-weight: 700;
	font-size: 1em;

	a {
		color: #111;
	}
}

.references {
	
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
	
}

/* Questions block */
.block {
	font-family: $urw-thin;
	background: #fff;
	padding: 30px 30px 15px;
	color: #308EF4;
	margin-bottom: 2em;
}

.block.block-dark {
	background: #343D4E;
}

.block.block-dark a:hover {
	color: #0b76ea;
	text-decoration: none;
}

.context-sig {
	display: block;
	color: #a1a1a1;
	font-size: 14px;
	margin-bottom: 1em;
}

figure {
	margin-bottom: 2em;
}

figcaption {
	font-size: 12px;
	font-family: $urw-italic;
	color: #B5C3C8;
	margin: 16px 0;
}

.forces-list li {
	color: #A3A2A2; 
}

.forces-list {
	li:first-child, li:nth-child(4), li:nth-child(8) {
		color: #D0021B;
	}
	li:nth-child(2), li:nth-child(5), li:nth-child(9) {
		color: #111;
		background: #FFFFC7;
	} 
}

.marginbottom30 {
	margin-bottom: 30px;
}

.paddingtop30 {
	padding-top: 30px;
}

.greeting {
	background: #af9d1a;
}

.greeting {
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 140%;
}

.post-header {
	padding-top: 60px;
	padding-bottom: 20px;
}

.featured {
	text-align: center;
	background: url('/assets/counting-eye-screens.jpg') no-repeat;
	background-size: contain;
	background-position: center center;
}

.time-track {
	text-align: center;
	background: url('/assets/time-tracker-home.jpg') no-repeat;
	background-size: contain;
	background-position: center center;
}

.vid-assess {
	text-align: center;
	background: url('/assets/video-tool-home.jpg') no-repeat;
	background-size: contain;
	background-position: center center;
}

.font-quiz {
	text-align: center;
	background: url('/assets/font-quiz-home.jpg') no-repeat;
	background-size: contain;
	background-position: center center;
}

.entry {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	

	h2 {
	margin-top: 0;
	}
}

.project {
	overflow: hidden;
    margin-bottom: 30px;

  img {
  	margin-bottom: 15px;
  }
  

   .project-header {
   	margin-top: .5em;
   }

   .project-header a {
   	 color: $text-color;
   }

   .project-header a:visited {
   	 color: $text-color;
   }


    
    .project-inner {
        padding: 15%;
        background: rgba(11,2,6,.8);
        transition: background .5s;
    }

}


.project:hover {

    .project-inner {
        background: rgba(27,5,41,.8);
    }

    
}

.card {
	margin-bottom: 25px;
	padding: 14px;
	font-size: 14px;
}

.card:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

