/*
Container
*/
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 40em;
}

.home .container {
    margin: 0 auto;
    width: 80%;
    max-width: 60em;
}

.w-23, .w-33, .w-66, .w-76 {
    width: 100%;
} 

.home .intro {
    width: 100%;
}

@media screen and (min-width: 840px) {
    .home .intro {
    width: 74%;
}
}

@media screen and (min-width: 1060px) {
    .home .intro {
    width: 64%;
}
}

.home .work {
    
    width: 100%;
}
@media screen and (min-width: 924px) {
    .home .work {
        float: left;
    width: 75%;
}
}

.home .work .recent-post {
    width: 100%;
    
    }

@media screen and (min-width: 1008px) {
    .home .work .recent-post {
    width: 50%;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    }
}

.home .aside {
    margin-top: 3em;
        width: 100%;
}

@media screen and (min-width: 924px) {
.home .aside {
    margin-top: 0;
        width: 25%;
    float: right;
    padding-left: 2em;
    border-left: 1px solid #0544a5;
}
}

@include media-query($on-palm) {
    .w-33 {
        float: left;
        width: 50%;
    }

}

@include media-query($on-laptop) {
    .w-23 {
        float: left;
        width: 23%;
    }
    .w-33 {
        float: left;
        width: 33%;
    }
    .w-66 {
        float: left;
        width: 66%;
    } 
    .w-76 {
        float: left;
        width: 76%;
    } 
}
/**
 * Site header
 */

 .home .site-header {
    margin-bottom: 0;
 }

.site-header {
    margin-bottom: 48px;
    // Positioning context for the mobile navigation icon
    position: relative;
    line-height: .85;
}

.home .site-title {
    font-size: 300px;
    color: rgba(216, 216, 216, 0.05);
}

.site-title {
    
    font-size: 26px;

    &,
    &:visited {
        color: $text-color;
    }
}

.site-nav {
    float: right;

    .menu-icon {
        display: none;
    }

    .page-link,
    a {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */

.footer {
    clear: both;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */

.home .page-content {
    padding-top: 2em;
   
}

@media screen and (min-width: 900px) {
    .home .page-content {
    padding-top: 8em;
   
}
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #eee;
    }
}



.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

p + figure,
p + .block {
    padding-top: 16px;
}