.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.fs-14 {
	font-size: 14px;
}

.fs-18 {
	font-size: 18px;
}

.ls-1 {
	letter-spacing: 1px;
}

.lh-1-25 {
	line-height: 1.25;
}

.nopadl {
	padding-left: 0;
}
.padl-1em {
	padding-left: 1em;
}
.padr-1em {
	padding-right: 1em;
}

.mr-1em {
	margin-right: 1em;
}

.mt-8 {
	margin-top: 8px;
}

.mb-2em {
	margin-bottom: 2em;
}

// .teal-anchor,
// .teal-anchor:visited  {
// 	color: #95fff5;
// }

.color-brand {
	color: $brand-color;
}
