.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.fs-14 {
	font-size: 14px;
}

.fs-18 {
	font-size: 18px;
}

.ls-1 {
	letter-spacing: 1px;
}

.lh-1-25 {
	line-height: 1.25;
}

.padl-1em {
	padding-left: 1em;
}

.teal-anchor,
.teal-anchor:visited  {
	color: #95fff5;
}

.color-brand {
	color: $brand-color;
}
