h2 {
	font-size: 26px;
}

h3 {
	font-size: 18px;

}
.watch-area {
	background: #e1e1e1;
	margin: 3em 0;
}

.capabilities {
	padding: 15px 0;
}
.capabilities a, .capabilities button {
	display: block;
	margin-bottom: 1em;
}
.video-preview {
	width: 300px;
	float: left;
}

.comment-text {
	padding-left: 320px;
}

.panel-heading h3 {
	margin: 0;
}