
.watch-area {
	border: 1px solid #333;	
	padding: 1em;
	margin: 3em 0;
}

.capabilities {
	padding: 15px 0;
}
.capabilities a, .capabilities button {
	display: block;
	margin-bottom: 1em;
}
.video-preview {
	width: 300px;
	float: left;
}

.comment-text {
	padding-left: 320px;
}

.panel-heading h3 {
	margin: 0;
}