---
layout: home
title: Interaction Design
exclude_from_nav: true
<!-- navigation_weight: 3 -->
---
 
              
             <div class="work">
              <!-- <h2 class="text-sm text-black margin-top-0 padl-1em mb-4">SELECTED WORK</h2> -->
              
              <!-- <div class="flex flex-wrap justify-between"> -->
                {% for post in site.tags.Interaction-design%}
                
                   <div class="recent-post mb-8 pb-8">
                      {{ post.excerpt }}
                      <h4 class="recent-post-header mb-0 pt-4">
                        {% if post.external %}
                        <a href="{{ post.external }}" class="mr-1em" target="_blank">{{ post.title }}</a>
                        {% else %}
                        <a href="{{ post.url | prepend: site.baseurl }}" class="mr-1em">{{ post.title }}</a>
                        {% endif %}
                      </h4>
                    </div>
                   
              {% endfor %}
            <!-- </div> -->
             
             
               
               
             </div>
          

              
    

       

    <!-- </div> -->
 <!--  </div> -->