---
layout: default
---

<div class="post">
<div class="intro">
    
    <p class="text">{{ site.description }}</p>
    <p class="stars">***</p>
  </div>
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">Written on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} | {{ page.category }}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
