@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-font {
  font-family: 'Kaushan Script', cursive;
}
@font-face {
  font-family: 'urw-regular';
  src: url('../fonts/urw/Regular/URWDIN-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/urw/Regular/URWDIN-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/urw/Regular/URWDIN-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/urw/Regular/URWDIN-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/urw/Regular/URWDIN-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'urw-thin';
  src: url('../fonts/urw/Thin/URWDIN-Thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/urw/Thin/URWDIN-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/urw/Thin/URWDIN-Thin.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/urw/Thin/URWDIN-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/urw/Thin/URWDIN-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'urw-italic';
  src: url('../fonts/urw/Italic/URWDIN-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/urw/Italic/URWDIN-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/urw/Italic/URWDIN-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/urw/Italic/URWDIN-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/urw/Italic/URWDIN-Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'urw-black';
  src: url('../fonts/urw/Black/URWDIN-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/urw/Black/URWDIN-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/urw/Black/URWDIN-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/urw/Black/URWDIN-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/urw/Black/URWDIN-Black.svg#svgFontName') format('svg'); /* Legacy iOS */
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h2, h3 {
  margin-top: 2em;
  margin-bottom: .75em;
}

p {
  margin-bottom: 24px;
}

a, a:visited {
  color: #3d4852;
}

.hideout {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}